body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1E1E2F;
}
label{
    color: #80FF80;
}
#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.cell-input{
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
}
.input-row {
    display: none;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.input-ip {
    display: none;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: bold;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.input-row button {
    height: fit-content;
    align-self: flex-end;
}

#TDI {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    gap: 4px;
}

.cell {
    border: 1px solid #000;
    padding: 6px 10px;
    min-width: 100px;
    text-align: center;
    background-color: #f0f0f0;
}
.route_found_1 input{
    background: #80FF80;
    color: white;
}
.route_found_2 input{
    background-color: orange;
    color: white;
}

button{
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
}

button:hover{
    transform: scale(1.05);
}
/*
.save-btn{
    
}
.delete-btn{
    
}*/
