body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D2D0A0; /* Light yellowish background */
    width: 100%;
    height: 100vh;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: #537D5D; /* Dark green */
    align-items: center;
    padding: 0px 200px;
}

.navbar h3 {
    color: white;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #73946B; /* Lighter green */
    color: black;
    border-radius: 10px;
}

/* About section */
.about {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center; 
    align-items: center;
}

.about-container {
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;  
}

.about h2 {
    text-align: center;
    background-color: #537D5D; /* Dark green */
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;   
    align-items: center;      
    color: white;  
    border-radius: 20px;
}

.about p {
    background-color: #73946B; /* Lighter green */
    padding: 10px;
    border-radius: 10px;
    color: white;
}

/* Card section */
.language {
    display: flex;
    flex-direction: column;
}

.language h2 {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

/* Card */
.card {
    background-color: #537D5D;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 300px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card img {
    transform: scale(0.7); /* Rimpicciolisce l'immagine al 80% della sua dimensione originale */
}

.c-img{
    width: 170px; 
}
.java-img{
    width: 105px; 
}
.HC-img{
    width: 250px;
}
.card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body h3 {
    color: #D2D0A0;
    font-size: 1.2rem;
    margin: 0 0 10px;
}

.card-body p {
    font-size: 0.9rem;
    color: white;
}

.card:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    background-color: #537D5D; /* Dark green */
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

.working {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
