<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arte.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Arte.Properties.Settings>
            <setting name="connect" serializeAs="String">
                <value>Server=localhost;Uid=root;Pwd=''</value>
            </setting>
            <setting name="connect_arte" serializeAs="String">
                <value>Server=localhost;Database=Arte;Uid=root;Pwd=''</value>
            </setting>
        </Arte.Properties.Settings>
    </applicationSettings>
</configuration>